[project]
name = "tutorial-documentacion-mcp"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastmcp[tasks]>=3.0.0b1",
]
